# ignore temp folders
client/lib
client/backup

# ignore objects
*.o
*.ppu
*.rsj

# ignore project session
*.lps

# ignore binaries
*.exe
*.dbg

# ignore archives
*.zip
*.tgz

# ignore linux
mizCleaner